rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone with your Firestore project ID to read and write
    // to all collections. This is useful for getting started, but it's
    // important to secure your database once you've launched your app.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
